<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__LABEL__</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__APP_DIR__/bin/supervisor.zsh</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>ThrottleInterval</key>
  <integer>10</integer>

  <key>WorkingDirectory</key>
  <string>__APP_DIR__</string>

  <key>StandardOutPath</key>
  <string>__APP_DIR__/logs/launchd.out.log</string>

  <key>StandardErrorPath</key>
  <string>__APP_DIR__/logs/launchd.err.log</string>
</dict>
</plist>
